@font-face {
  font-family: "Regular";
  src: url(fonts/proximanova-regular-webfont.woff) format("woff");
}

@font-face {
  font-family: "Semibold";
  src: url(fonts/proximanova-bold-webfont.woff) format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing : border-box;
}

html, body {
  text-align: center;
}

body {
  font-family: 'Gotham', 'HelveticaNeue', 'Helvetica', sans-serif;
  text-align: center;
}

h1, h2 {
  font-weight: normal;
}

h1 {
  margin: 25px 0 0 0;
  font-size: 1.5em;
  text-indent: 27px;
  background: url(../assets/logo.png) no-repeat -9px -7px;
  background-size: 42px;
  line-height: 30px;
}

h1 > a {
}

h1 > a > img {
  width: 19px;
  margin-left: 10px;
  position: relative;
  top: 1px;
}

p {
  margin: 1em 0;
}

a, a:visited {
  color: #00a;
}

section, article, header#intro {
  margin: 50px;
}

section > header {
  text-align: left;
  text-transform: uppercase;
}

section a figure {
  text-align: left;
  /*text-transform: uppercase;*/
  color: #666;
}

section a figure .image {
  width: 100%;
  padding-bottom: 60%;
  margin: 0;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border: 1px solid #efefef;
}

section a:hover figure img {
}

section figcaption {
  margin: 7px 0;
  font-size: 0.9em;
}

section#visualizations {
  min-width : 1160px;
}

section#visualizations a {
  text-decoration: none;
  color: #000 !important;
}

section#visualizations ul {
  text-align: left;
}

section#visualizations > ul li {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin: 30px 2% 0 0;
}

nav {
  text-align: right;
}

.address, footer {
  margin: 10px 0;
  font-size: 0.7em;
}

header {
  width : 960px;
  height : 150px;
  margin : 0 auto;
  padding-top : 50px;
  min-width : 1160px;
}

#main_logo {
  position : relative;
  z-index : 1000;
}

#headerOverlay {
  position : absolute;
  z-index : 10;
  top : 0;
  left : 0;
  width : 100%;
  height : 220px;
  background-image: linear-gradient(-180deg, rgba(255,99,51,0.05) 0%, rgba(255,99,51,0.00) 100%);
}

.header_sub {
  position : relative;
  z-index : 10;
  display : block;
  font-family: Regular;
  font-size: 18px;
  color: rgba(0,0,0,0.52);
  line-height: 22px;
  margin-top : 20px;
}

.header_sub a {
  font-weight : bold;
  text-decoration : none;
  color : #FF4602;
}


.hack_card {
  position: relative;
  border : 1px solid #B9B9B9;
  width : 200px; 
  height : 400px;
  border-radius : 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  overflow : hidden;
  padding : 0px;
  box-sizing : border-box;
}

#overlay {
  position : absolute;
  top : 0;
  left : 0;
  width : 100%;
  height : 70%;
  background-color : rgba(0, 0, 0, 0.65);
  background-image : url(images/icon_launch.svg);
  background-repeat : no-repeat;
  background-position : center center;
  opacity : 0;
}

.hack_card:hover #overlay {
  opacity : 1;
  transition : all 0.3s;
}

.hack_card:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  transition : all 0.2s;
}

.hack_image {
  width : 100%;
  height: 70%;
  background-size: cover;
}

.hack_content {
  width: 100%;
  height: 30%;
  padding: 10px;
  border-top : 2px solid #ff4602;
}

.hack_title {
  font-family: Semibold;
  font-size: 18px;
  color: #000000;
  line-height: 22px;
  text-align: center;
  width : 100%;
  margin-top : 15px;
}

.hack_explanation {
  font-family: Regular;
  font-size: 14px;
  color: #979797;
  line-height: 17px;
  text-align : center;
  margin-top : 15px;
}

header.address img, footer img {
  width: 16px;
  height: 16px;
}

.amazon-logo {
  background: url(images/amazon-logo-black.png) no-repeat;
  width: 120px;
  height: 46px;
  margin: 20px auto;
}

@media screen and (max-width: 1160px) {
  .hack_card {
    width : 150px; 
  }

  .hack_explanation {
    display : none;
  }
}

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
  
  .hack_card {
    display : none;
  }
}

/* Retina display ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5), not all {

  .amazon-logo {
    background-image: url(images/amazon-logo-black@2x.png);
    background-size: 120px 46px;
  }

}